.cajaMatriz{
    margin-top: 20px;
    display: flex;
    flex-wrap: wrap;
}

.caja_contenedora{

margin-left: 60px;
    display: flex;
justify-content: space-evenly;

flex-direction: column;
width: 800px;
height: 800px;
}

.publicar{
max-width: 800px;
padding: 10px;
height: auto;
}

.logo {
    display: flex;
    align-items: center;

}

.logo img {
    height: 70px;
    margin-right: 10px;
    border-radius: 100px; 
}